.el-1{
    background-color: blue;
    height: 200px;
}
.el-2{
    background-color: rgb(0, 255, 72);
    height: 200px;
}
.el-3{
    background-color: rgb(0, 255, 238);
    height: 200px;
    position: fixed;
}
.el-4{
    background-color: rgb(0, 255, 8);
    height: 200px;
    position: relative;
    left: 20px ;
   top: 20px;
}
.el-5{
    background-color: rgb(149, 255, 0);
    height: 200px;
    position: absolute;
    /* height: 200px; */
    width: 200px;
    left: 20px;
    top: 50px;
    

}
.el-6{
    background-color: rgb(23, 72, 36);
    height: 200px;
    width: 400px ;
position: relative;
}
.el-7{
    background-color: rgb(0, 255, 72);
    height: 200px;
}

.el-8{
    background-color: rgb(255, 234, 0);
    height: 200px;
}
